.projects>h2 {
  line-height: 50px;
  font-size: 56px;
  font-weight: 500;
}

.wrapper-projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project:last-child {
  display: none;
}

.project {
  width: 100%;
}

.project>img {
  width: 100%;
}

.project>h3 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
  margin-bottom: 0;
}

.btns {
  padding: 12px 0;
}

.btns>button {
  border-radius: 32px;
  padding: 8px 16px;
  border: none;
  color: white;
}

.bg-blue {
  background-color: #38bdf8;
}

.bg-red {
  background-color: #f43f5e;
}

.bg-black {
  background-color: #111827;
}

.bg-yellow {
  background-color: #f59e0b;
}

.bg-green {
  background-color: #34d399;
}

.social>a {
  font-weight: 600;
  display: inline-block;
  padding: 8px 16px;
}

.social>a>img {
  transform: translateY(4px);
}

.arrow {
  text-align: right;
}

.arrow>button {
  border: none;
  background-color: transparent;
}

.prev,
.next {
  background-image: url(./../icons/next.svg);
  height: 48px;
  width: 48px;
  background-size: cover;
  cursor: pointer;
}

.prev {
  transform: scaleX(-1);
  display: none;
}

.mais {
  height: 48px;
  transform: translateY(-17px);
  font-weight: 500;
}

@media screen and (min-width: 960px) {
  .wrapper-projects {
    flex-direction: row;
  }

  .project {
    width: 32%;
  }

  .project:last-child {
    display: block;
  }

  .prev {
    display: inline-block;
  }

  .mais {
    display: none;
  }

  .projects>h2 {
    font-size: 92px;
    line-height: 82px;
  }
}